﻿/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

*/

table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dotted #ccc;
}

span.ajax-text {
    display: none;
}

div.new-cat {
    margin: 30px 0 0 0;
    position:relative; 
}

table.sorting.categories td {
    padding: 10px 10px 10px 0;
}

.ajaxdivtd {
    position: absolute;
}

.edit-product input#ImageName {
    display: none;
}