﻿@model IEnumerable<Projekt_CMS.Models.ViewModels.Pages.PageVM>

@{
    ViewBag.Title = "Strony";
}

<h2>Strony</h2>

@if (!Model.Any())
{
    <h1 class="text-center">Nie ma takiej strony.</h1>
}
else
{
    <p>
        @Html.ActionLink("Dodaj nową stronę", "AddPage")
    </p>
    <table class="table sorting" id="pages">
        <tr class="home">
            <th>
                Tytuł strony
            </th>
            <th>
                Adres strony
            </th>
            <th>
                Pasek boczny
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSidebar)
                </td>
                <td>
                    @Html.ActionLink("Edycja", "EditPage", new { id = item.Id }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |

                    @if (item.Slug != "home")
                    {
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "delete" })
                    }
                </td>
            </tr>
        }

    </table>
}

@section scripts {

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <script>

        /* sortowanie drag & drop */
        $(function () {
            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Shop/ReorderPages";

                    $.post(url, ids, function (data) {

                    })
                }
            });
        });

        /* potwierdzenie usunięcia strony */
        $(function () {
            $("a.delete").click(function () {
                if (!confirm("Potwierdzasz usunięcie strony")) {
                    return false;
                }
            });
        });
    </script>
}
